body{
  font-size: 14px;
}

header, main, footer{
  margin: 10px;
  padding: 20px;
  border: solid 5px #cccccc;
}

h1 {
  /* font-size: 5em; */
  color: green;
  background-color: lightpink;
  border: solid 2px red; 
  text-align:center;
  /*width: 90vw;*/
  padding: 20px;
  /*margin: 40px;*/
}

.content{
  display:inline-block;
  width:28%;
  height: 100%;
  border: solid 1px black;
  margin:10px;
  padding:5px;
}
#m1 {
  border: solder 2px black;
}

article[id="m2"] {
  color: blue;
}

div::before{
  content: '[영화 소개] ';
  font-weight: 900;
}
div::after{
  content: ' (더보기)';
  font-style: italic;
  color: darkgreen;
}

a{
  text-decoration: none;
  color: orange;
}

a:visited{
  color orange;
}

a:hover{
  background-color: blue;
}

a:active{
  background-color: barkred;
  color: white;
}
